services:
  - type: web
    plan: free
    name: ExcelProject
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "python manage.py migrate && python manage.py superuser && gunicorn excelproject.wsgi:application"
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: WEB_CONCURRENCY
        value: 4
      - key: PYTHON_VERSION
        value: 3.10.0